/* CSS declarations go here */
Header a.active {
  font-weight: bold;
  text-decoration: underline;
}
Header a, #login-buttons a {
  text-decoration: none;
  margin-right: 10px;
  color:inherit;
}
/* #canv1 {
	z-index: -1
}
#canv1{
	z-index: -1
} */