/* CSS declarations go here */
Header a.active {
  font-weight: bold;
  text-decoration: underline;
}
Header a, #login-buttons a {
  text-decoration: none;
  margin-right: 10px;
  color:inherit;
}
/* #canv1 {
	z-index: -1
}
#canv1{
	z-index: -1
} */
    .prettyprint, code.prettyprint {
        	background-color: #272822;
        	font-family: consolas, menlo, courier, monospace;
        }

        .prettyprint {
            overflow: auto;
        	width: 120px!important;
        	height: 50%!important;
        	margin: 1rem auto;
        	padding: 0 1rem;
            border: 0;
        	white-space: pre-wrap;
            font-size: 13px;
        }

.spaklines{
	padding-top: 10px;
	padding-right: 10px;	
	
}

#canv1{
	display: none;
}
#canv2{
	opacity: 0.8;
}

.align_right{
	text-align: left;
}

