/* CSS declarations go here */
Header a.active {
  font-weight: bold;
  text-decoration: underline;
}
Header a, #login-buttons a {
  text-decoration: none;
  margin-right: 10px;
  color:inherit;
}
/* #canv1 {
	z-index: -1
}
#canv1{
	z-index: -1
} */
   

.spaklines{
	padding-top: 10px;
	padding-right: 10px;	
	
}

#canv1{
	display: none;
}
#canv2{
	opacity: 0.8;
}

.align_right{
	text-align: left;
}
@font-face {
    font-family: nokia; /*a name to be used later*/


    src: url('/fonts/NokiaKokia.otf') format('opentype');
   
/*       url('public/fonts/nokiapureheadlinebd-webfont.ttf') format('truetype'),
       url('public/fonts/NokiaKokia.woff2') format('woff'),
       url('public/fonts/nokiapureheadlinebd-webfont.svg#icomoon') format('svg');*/
}

.title{
	color: #124191!important;
	font-size:2em!important;
}
.by{
	color: #124191!important;
	font-size:1vw!important;
}
.nokia_logo{
	
     font-family: nokia!important;
	 font-size: 2.6em!important;
	 padding-right:5%;
	 margin-top: 20px!important%;
	 color: #2A3F54!important;
	
	
}
.my-legend{
	padding-left: 20%;
}
.legend-title {
    text-align: left;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 90%;
    }
.legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
.legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }
.legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
.power_title{
  font-size: 21px;
  color:#3F5367;
}
.logo{
max-width:100%;
max-height:100%;
}
.ocupied{
  width: 100%;
  height: 6px;
  max-height: 100%;
  min-height: 100%;
  min-width: 90%;
  max-width:90%;
  background: red;
   margin-bottom:6px;
 margin-right: 15%;
 margin-left:5%;

}
.vacant{
  width: 100%;
  height: 6px;
  max-height: 100%;
  min-height: 100%;
  min-width: 90%;
  max-width:90%;
  background: #1ABB9C;

  margin-bottom: 6px;
margin-right: 5%;
  margin-left:5%;
}
.sr_page{
  height: 890px;
}
.dc_page{
  height: 920px;
}
.bg{
  background: #F7F7F7;
}
.updated{
  position:absolute;
  color:gray;
  font-size: 0.8em;
  bottom: 0;
}
.updated_currents{
  position:relative;
    color:gray;
  font-size: 0.8em;
  margin-top: 5px;
  bottom: 0;
}
.centered{

  position: relative;
  padding-left : 15%
}
.powered{
  padding-top: 5px;
}
.sparkline22{
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  bottom:0;
}
.daily_trend{
  padding-left: 15%;
  color: #A9A9A9;
}

.ws_nodeInfo{
  font-size: 2rem;
}
.gray{
  color: lightgray!important;
  font-size: 0.9em;
}